{% extends 'layout.html' %}
{%block body%}
<div style="color:black;text-align:center">
<h1 >All Orders</h1>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Customer Name</th>
      <th scope="col">Food Name</th>
      <th scope="col">Status</th>
      <th scope="col">Confirm Order</th>
    
    </tr>
  </thead>
  <tbody>
  
  {% for item in order %}
    
    <tr>

      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td><a href="/update_status/{{item.0}}"class="btn btn-secondary btn-default" role="button" aria-pressed="true" style="font-size: smaller;">Confirm</a></td>
      
  
       

    </tr>
    
  {%endfor%}
  </tbody>
</table>


{%endblock%}